/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-dark_primary {
    color: var(--primary); /* or whatever color you intend to use */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply text-dark_primary;
  }
  h1 {
    @apply font-Poppins lg:text-6xl text-3xl font-extrabold;
  }
  h2 {
    @apply font-Inria text-5xl font-bold;
  }
  h3 {
    @apply font-Paprika text-5xl;
  }
  h4 {
    @apply md:text-4xl text-3xl !leading-relaxed font-Paprika;
  }
  h6 {
    @apply font-Paprika font-bold text-[#253D57] leading-8;
  }

  p {
    @apply font-Poppins text-[0.95rem];
  }
  button {
    @apply font-Poppins;
  }
  input,
  textarea {
    @apply bg-transparent outline-none font-Poppins;
  }
}

@layer utilities {
  .btn {
    @apply py-2 px-9 border-2 rounded-md
     border-dark_primary rounded-br-3xl font-medium;
  }
  .title {
    @apply md:text-3xl text-2xl;
  }
  .subtitle {
    @apply text-gray;
  }
}
.swiper-pagination-bullet {
  @apply w-3 h-3 bg-dark_primary;
}
